{% extends "main/base.html" %}

{% block title %}О кафе{% endblock %}

{% block content %}
    <div class="block-header">
        О "Уютное кафе"
    </div>
    
    <p class="text-center">Наше кафе "Уютное кафе" открыто для вас каждый день, предлагая атмосферу комфорта и отличную кухню. Мы гордимся тем, что можем предложить нашим гостям самые вкусные блюда, приготовленные из свежих и натуральных продуктов. Наши повара тщательно подбирают ингредиенты для каждого блюда, чтобы сделать каждый прием пищи особенным.</p>

    <div class="block-header">
        Наши принципы
    </div>

    <p class="text-center">Комфортная атмосфера для каждого гостя.</p>
    <p class="text-center">Только свежие и натуральные ингредиенты.</p>
    <p class="text-center">Любовь к своему делу и качественное обслуживание.</p>

    <div class="block-header">
        Наши блюда
    </div>

    <p class="text-center">В нашем меню вы найдете блюда на любой вкус: от традиционных завтраков до авторских десертов. Мы предлагаем разнообразные напитки и закуски для приятного времяпрепровождения.</p>
{% endblock %}
