{% extends "main/base.html" %}

{% block title %}О кафе{% endblock %}

{% block content %}
    <h1>О "Уютное кафе"</h1>
    
    <p>Наше кафе "Уютное кафе" открыто для вас каждый день, предлагая атмосферу комфорта и отличную кухню. Мы гордимся тем, что можем предложить нашим гостям самые вкусные блюда, приготовленные из свежих и натуральных продуктов. Наши повара тщательно подбирают ингредиенты для каждого блюда, чтобы сделать каждый прием пищи особенным.</p>

    <h2>Наши принципы</h2>
    <ul>
        <li>Комфортная атмосфера для каждого гостя.</li>
        <li>Только свежие и натуральные ингредиенты.</li>
        <li>Любовь к своему делу и качественное обслуживание.</li>
    </ul>

    <h2>Наши блюда</h2>
    <p>В нашем меню вы найдете блюда на любой вкус: от традиционных завтраков до авторских десертов. Мы предлагаем разнообразные напитки и закуски для приятного времяпрепровождения.</p>
{% endblock %}
