{% extends "main/base.html" %}

{% block content %}

<div class="info-block center" id="home_first_block">
    Любимые блюда<br>
    рядом с вами!
</div>

<div class="block-header">
    Специальные предложения
</div>

<div class="swiper">
    <div class="swiper-wrapper">
        {% for special in specials %}
            <div class="swiper-slide">
                <!-- Выводим изображение акции -->
                {% if special.image %}
                    <img src="{{ special.image.url }}" alt="Акция" />
                {% else %}
                    <p>Изображение не доступно</p>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет активных акций</p>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div class="block-header">
    Меню
</div>
<div class="category-list">
    {% for category in categories %}
    <a href="{% url 'category_detail' category.id %}" class="category-card" style="background-image: url('{{ category.image.url }}');">
        <div class="category-name">{{ category.name }}</div>
    </a>
    {% endfor %}
</div>

<div class="block-header">
    Продукты
</div>

<div class="product-list">
    {% for product in products %}
        <a href="{% url 'product_detail' product.id %}" class="product-card">
            <img src="{{ product.image.url }}">
            <div class="product-card-info">
                <div class="product-card-nmae">{{ product.name }}</div>
            </div>

        </a>
    {% endfor %}
</div>

{% endblock %}
