{% extends "main/base.html" %}

{% block title %}Регистрация{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="login-wrapper">
    <a href="{% url 'home' %}" class="logo">Уютное кафе</a>

    <div class="block-header">
        Регистрация
    </div>

    <form method="post" class="login-form">
        {% csrf_token %}

        {{ form.as_div }}
        <button type="submit" class="btn primary">Зарегистрироваться</button>
        <a href="{% url 'login' %}" class="login-link">Уже есть аккаунт?<br>Войти!</a>
    </form>

</div>
{% endblock %}
